<a href="https://colab.research.google.com/github/phuongnguyen99/Number_theory/blob/main/Number_Theory_Semiprime_p%3C%3D10%5E3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Data preprocessing

Extract first 1000 primes in the prime.txt*

In [ ]:
# Import data by extracting 10000 primes in dataset primes.txt
# Initialize an empty list to hold the elements
elements_list = []

# Open the file in read mode
with open('/content/drive/MyDrive/primes.txt', 'r') as file:
    # Use enumerate to get both line numbers and lines
    for i, line in enumerate(file):

        elements_list.append(line.strip())  # strip() removes any leading/trailing whitespace, including newlines
        # Break the loop
        if i == 999:
            break

my_list1 = [int(item) for item in elements_list]

In [ ]:
# The length of first 10000 primes array
len(my_list1)

1000

In [ ]:
from tqdm import tqdm

In [ ]:
# The largest prime of the first 100000 primes
my_list1[-1]

7919

Multiply 1000 primes with itself

In [ ]:
data = set()
for x in tqdm(my_list1):
  for y in my_list1:
    data.add(x*y)

100%|██████████| 1000/1000 [00:00<00:00, 2049.57it/s]

Sort the data in an ascending order

In [ ]:
data = sorted(list(data))
print(data[:50])

[4, 6, 9, 10, 14, 15, 21, 22, 25, 26, 33, 34, 35, 38, 39, 46, 49, 51, 55, 57, 58, 62, 65, 69, 74, 77, 82, 85, 86, 87, 91, 93, 94, 95, 106, 111, 115, 118, 119, 121, 122, 123, 129, 133, 134, 141, 142, 143, 145, 146]

## Computational part

Compute the primes triplest with gap 2-4 and gap 4-2, i.e (p, p+2, p+6) and (p, p+4, p+6) respectively where p is semi-prime

In [ ]:
def compute_prime_triplet(chunk):
    chunk = sorted(chunk)
    num_diff24 = num_diff42 = 0
    common_elements_diff24 = []
    common_elements_diff42 = []

    # Check triplets directly within chunk
    for i in range(len(chunk) - 2):
        # Extract current triplet
        current_triplet = (chunk[i], chunk[i + 1], chunk[i + 2])

        # Calculate differences between consecutive elements
        diff1 = chunk[i + 1] - chunk[i]
        diff2 = chunk[i + 2] - chunk[i + 1]

        # Check for pattern 2-4
        if diff1 == 2 and diff2 == 4:
            num_diff24 += 1
            common_elements_diff24.append(current_triplet)

        # Check for pattern 4-2
        elif diff1 == 4 and diff2 == 2:
            num_diff42 += 1
            common_elements_diff42.append(current_triplet)

    return num_diff24, num_diff42, common_elements_diff24, common_elements_diff42

## Numerical results

In [ ]:
num_diff24_v1, num_diff42_v1, common_elements_diff24_v1, common_elements_diff42_v1 = compute_prime_triplet(data)

The number of prime triplets (p, p+2, p+6) for p1, p2 <= 10^3

In [ ]:
num_diff24_v1

1744

In [ ]:
sorted(common_elements_diff24_v1)[:10]

[(49, 51, 55),
 (247, 249, 253),
 (289, 291, 295),
 (303, 305, 309),
 (527, 529, 533),
 (679, 681, 685),
 (779, 781, 785),
 (899, 901, 905),
 (949, 951, 955),
 (959, 961, 965)]

The largest prime triplet (p,p+2,p+6) for p<=10^3

In [ ]:
max(sorted(common_elements_diff24_v1))

(45008627, 45008629, 45008633)

The number of prime triplets (p, p+4, p+6) for p <= 10^3

In [ ]:
num_diff42_v1

1783

In [ ]:
sorted(common_elements_diff42_v1)[:10]

[(51, 55, 57),
 (87, 91, 93),
 (335, 339, 341),
 (407, 411, 413),
 (447, 451, 453),
 (529, 533, 535),
 (681, 685, 687),
 (749, 753, 755),
 (785, 789, 791),
 (889, 893, 895)]

The largest prime triplet (p,p+4,p+6) for p <= 10^3

In [ ]:
max(sorted(common_elements_diff42_v1))

(40851907, 40851911, 40851913)

Compute the primes triplest with gap 1-2 and gap 2-1, i.e (p, p+1, p+3) and (p, p+2, p+3) respectively where p is semi-prime

In [ ]:
def compute_semiprime_triplets_v2(chunk):
    chunk = sorted(chunk)
    num_diff12= num_diff21= 0
    common_elements_diff12 = []
    common_elements_diff21 = []

    # Check triplets directly within chunk
    for i in range(len(chunk) - 2):
        # Extract current triplet
        current_triplet = (chunk[i], chunk[i + 1], chunk[i + 2])

        # Calculate differences between consecutive elements
        diff1 = chunk[i + 1] - chunk[i]
        diff2 = chunk[i + 2] - chunk[i + 1]

        # Check for pattern 2-4
        if diff1 == 1 and diff2 == 2:
            num_diff12 += 1
            common_elements_diff12.append(current_triplet)

        # Check for pattern 4-2
        elif diff1 == 2 and diff2 == 1:
            num_diff21 += 1
            common_elements_diff21.append(current_triplet)

    return num_diff12, num_diff21, common_elements_diff12, common_elements_diff21

In [ ]:
num_diff12, num_diff21, common_elements_diff12, common_elements_diff21 = compute_semiprime_triplets_v2(data)

The number of semi-prime triplets (p, p+1, p+3)

In [ ]:
num_diff12

149

In [ ]:
sorted(common_elements_diff12)[:5]

[(118, 119, 121),
 (142, 143, 145),
 (158, 159, 161),
 (202, 203, 205),
 (214, 215, 217)]

The largest prime triplet (p,p+1,p+3) for p <= 10^3

In [ ]:
max(sorted(common_elements_diff12))

(15706, 15707, 15709)

The number of semi-prime triplets (p, p+2, p+3)

In [ ]:
num_diff21

155

In [ ]:
sorted(common_elements_diff21)[:5]

[(55, 57, 58), (91, 93, 94), (119, 121, 122), (143, 145, 146), (203, 205, 206)]

The largest prime triplet (p,p+2,p+3) for p <= 10^3

In [ ]:
max(sorted(common_elements_diff21))

(15835, 15837, 15838)