<a href="https://colab.research.google.com/github/phuongnguyen99/Number_theory/blob/main/Number_Theory_Semiprime_updated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Data preprocessing

Extract first 100000 primes in the prime.txt*

In [2]:
# Import data by extracting 10000 primes in dataset primes.txt
# Initialize an empty list to hold the elements
elements_list = []

# Open the file in read mode
with open('/content/drive/MyDrive/primes.txt', 'r') as file:
    # Use enumerate to get both line numbers and lines
    for i, line in enumerate(file):

        elements_list.append(line.strip())  # strip() removes any leading/trailing whitespace, including newlines
        # Break the loop
        if i == 99999:
            break

my_list1 = [int(item) for item in elements_list]

In [3]:
# The length of first 10000 primes array
len(my_list1)

100000

In [4]:
from tqdm import tqdm

In [44]:
# The largest prime of the first 100000 primes
my_list1[-1]

1299709

Multiply 10,000 primes with itself

In [6]:
data = set()
for x in tqdm(my_list1[:10000]):
  for y in my_list1[:10000]:
    data.add(x*y)

100%|██████████| 10000/10000 [01:22<00:00, 121.30it/s]

Sort the data in an ascending order

In [47]:
data = sorted(list(data))
print(data[:50])

[4, 6, 9, 10, 14, 15, 21, 22, 25, 26, 33, 34, 35, 38, 39, 46, 49, 51, 55, 57, 58, 62, 65, 69, 74, 77, 82, 85, 86, 87, 91, 93, 94, 95, 106, 111, 115, 118, 119, 121, 122, 123, 129, 133, 134, 141, 142, 143, 145, 146]

## Computational part

Compute the primes triplest with gap 2-4 and gap 4-2, i.e (p, p+2, p+6) and (p, p+4, p+6) respectively where p is semi-prime

In [8]:
def compute_prime_triplet(chunk):
    chunk = sorted(chunk)
    num_diff24 = num_diff42 = 0
    common_elements_diff24 = []
    common_elements_diff42 = []

    # Check triplets directly within chunk
    for i in range(len(chunk) - 2):
        # Extract current triplet
        current_triplet = (chunk[i], chunk[i + 1], chunk[i + 2])

        # Calculate differences between consecutive elements
        diff1 = chunk[i + 1] - chunk[i]
        diff2 = chunk[i + 2] - chunk[i + 1]

        # Check for pattern 2-4
        if diff1 == 2 and diff2 == 4:
            num_diff24 += 1
            common_elements_diff24.append(current_triplet)

        # Check for pattern 4-2
        elif diff1 == 4 and diff2 == 2:
            num_diff42 += 1
            common_elements_diff42.append(current_triplet)

    return num_diff24, num_diff42, common_elements_diff24, common_elements_diff42

## Numerical results

#### For p <= 10^3

In [30]:
num_diff24_v1, num_diff42_v1, common_elements_diff24_v1, common_elements_diff42_v1 = compute_prime_triplet(data[:1000])

The number of prime triplets (p, p+2, p+6) for p<=10^3

In [31]:
num_diff24_v1

36

In [32]:
sorted(common_elements_diff24_v1)[:10]

[(49, 51, 55),
 (247, 249, 253),
 (289, 291, 295),
 (303, 305, 309),
 (527, 529, 533),
 (679, 681, 685),
 (779, 781, 785),
 (899, 901, 905),
 (949, 951, 955),
 (959, 961, 965)]

The largst prime triplet (p,p+2,p+6) for p<=10^3

In [33]:
max(sorted(common_elements_diff24_v1))

(3487, 3489, 3493)

The number of prime triplets (p, p+4, p+6) for p<=10^3

In [34]:
num_diff24_v1

36

In [36]:
sorted(common_elements_diff42_v1)[:10]

[(51, 55, 57),
 (87, 91, 93),
 (335, 339, 341),
 (407, 411, 413),
 (447, 451, 453),
 (529, 533, 535),
 (681, 685, 687),
 (749, 753, 755),
 (785, 789, 791),
 (889, 893, 895)]

The largst prime triplet (p,p+4,p+6) for p<=10^3

In [37]:
max(sorted(common_elements_diff42_v1))

(3379, 3383, 3385)

#### For p <= 10^4

In [16]:
num_diff24_v2, num_diff42_v2, common_elements_diff24_v2, common_elements_diff42_v2 = compute_prime_triplet(data[:10000])

The number of prime triplets (p, p+2, p+6) for p<=10^4

In [17]:
num_diff24_v2

447

In [18]:
sorted(common_elements_diff24_v2)[35:56]

[(3487, 3489, 3493),
 (3785, 3787, 3791),
 (3839, 3841, 3845),
 (3867, 3869, 3873),
 (3935, 3937, 3941),
 (4037, 4039, 4043),
 (4181, 4183, 4187),
 (4187, 4189, 4193),
 (4307, 4309, 4313),
 (4379, 4381, 4385),
 (4553, 4555, 4559),
 (4607, 4609, 4613),
 (4847, 4849, 4853),
 (4857, 4859, 4863),
 (4979, 4981, 4985),
 (5027, 5029, 5033),
 (5063, 5065, 5069),
 (5163, 5165, 5169),
 (5249, 5251, 5255),
 (5257, 5259, 5263),
 (5543, 5545, 5549)]

The largst prime triplet (p,p+2,p+6) for p<=10^4

In [19]:
sorted(common_elements_diff24_v2)[-1]

(40871, 40873, 40877)

The number of prime triplets (p, p+4, p+6) for p<=10^4

In [20]:
num_diff42_v2

462

In [40]:
sorted(common_elements_diff42_v2)[34:55]

[(3379, 3383, 3385),
 (3595, 3599, 3601),
 (3635, 3639, 3641),
 (3707, 3711, 3713),
 (3781, 3785, 3787),
 (3805, 3809, 3811),
 (4039, 4043, 4045),
 (4097, 4101, 4103),
 (4183, 4187, 4189),
 (4189, 4193, 4195),
 (4309, 4313, 4315),
 (4381, 4385, 4387),
 (4705, 4709, 4711),
 (4849, 4853, 4855),
 (5065, 5069, 5071),
 (5123, 5127, 5129),
 (5137, 5141, 5143),
 (5195, 5199, 5201),
 (5245, 5249, 5251),
 (5251, 5255, 5257),
 (5429, 5433, 5435)]

The largst prime triplet (p,p+4,p+6) for p<=10^4

In [41]:
max(sorted(common_elements_diff42_v2))

(40607, 40611, 40613)

#### For p <=10^5

In [23]:
num_diff24_v3, num_diff42_v3, common_elements_diff24_v3, common_elements_diff42_v3 = compute_prime_triplet(data)

The number of prime triplets (p,p+2, p+6) for p<=10^5

In [24]:
num_diff24_v3

47542

In [25]:
sorted(common_elements_diff24_v3)[446:466]

[(40871, 40873, 40877),
 (40889, 40891, 40895),
 (40907, 40909, 40913),
 (40997, 40999, 41003),
 (41027, 41029, 41033),
 (41089, 41091, 41095),
 (41127, 41129, 41133),
 (41153, 41155, 41159),
 (41271, 41273, 41277),
 (41309, 41311, 41315),
 (41315, 41317, 41321),
 (41487, 41489, 41493),
 (41567, 41569, 41573),
 (41747, 41749, 41753),
 (41867, 41869, 41873),
 (41933, 41935, 41939),
 (42047, 42049, 42053),
 (42907, 42909, 42913),
 (43021, 43023, 43027),
 (43139, 43141, 43145)]

The largst prime triplet (p,p+2,p+6) for p<=10^5

In [26]:
max(sorted(common_elements_diff24_v3))

(10352415917, 10352415919, 10352415923)

The number of prime triplets (p, p+4, p+6) for p<=10^5

In [27]:
num_diff42_v3

47552

In [28]:
sorted(common_elements_diff42_v3)[461:500]

[(40607, 40611, 40613),
 (40895, 40899, 40901),
 (41003, 41007, 41009),
 (41159, 41163, 41165),
 (41267, 41271, 41273),
 (41311, 41315, 41317),
 (41339, 41343, 41345),
 (41417, 41421, 41423),
 (41455, 41459, 41461),
 (41551, 41555, 41557),
 (41563, 41567, 41569),
 (41703, 41707, 41709),
 (41717, 41721, 41723),
 (41827, 41831, 41833),
 (41885, 41889, 41891),
 (41929, 41933, 41935),
 (42027, 42031, 42033),
 (42109, 42113, 42115),
 (42145, 42149, 42151),
 (42167, 42171, 42173),
 (42243, 42247, 42249),
 (42547, 42551, 42553),
 (42587, 42591, 42593),
 (42617, 42621, 42623),
 (42913, 42917, 42919),
 (43027, 43031, 43033),
 (43141, 43145, 43147),
 (43157, 43161, 43163),
 (43213, 43217, 43219),
 (43243, 43247, 43249),
 (43273, 43277, 43279),
 (43357, 43361, 43363),
 (43379, 43383, 43385),
 (43417, 43421, 43423),
 (43553, 43557, 43559),
 (43693, 43697, 43699),
 (43729, 43733, 43735),
 (43837, 43841, 43843),
 (43843, 43847, 43849)]

The largst prime triplet (p,p+4,p+6) for p<=10^5

In [29]:
max(sorted(common_elements_diff42_v3))

(8956913683, 8956913687, 8956913689)