<a href="https://colab.research.google.com/github/phuongnguyen99/Number_theory/blob/main/Nunber_Theory_SemiPrime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Data preprocessing

Extract first 10000 primes in the prime.txt*

In [2]:
# Import data by extracting 10000 primes in dataset primes.txt
# Initialize an empty list to hold the elements
elements_list = []

# Open the file in read mode
with open('/content/drive/MyDrive/primes.txt', 'r') as file:
    # Use enumerate to get both line numbers and lines
    for i, line in enumerate(file):

        elements_list.append(line.strip())  # strip() removes any leading/trailing whitespace, including newlines
        # Break the loop
        if i == 9999:
            break

my_list1 = [int(item) for item in elements_list]

In [3]:
# The length of first 10000 primes array
len(my_list1)

10000

In [4]:
# The largest prime of the first 10000 primes
my_list1[-1]

104729

Extract next 5000 primes in the prime.txt

In [5]:
# Initialize an empty list to hold the next 5000 prime
elements_list_next_5000 = []

# Open the file in read mode
with open('/content/drive/MyDrive/primes.txt', 'r') as file:
    # Use enumerate to get both line numbers and lines
    for i, line in enumerate(file):
        # Start appending after the first 10000 primes
        if i >= 10000:  # Skip the first 10000 lines
            elements_list_next_5000.append(line.strip())

        # Break the loop
        if i == 14999:  # 14999 because enumeration starts at 0
            break

# Convert list items to integers
my_list2 = [int(item) for item in elements_list_next_5000]

In [6]:
# Check the length
len(my_list2)

5000

In [56]:
# The largest prime of the first 15000 primes
my_list2[-1]

163841

Extract more next 5000 primes in the prime.txt

In [8]:
# Initialize an empty list to hold the next 5000 prime
elements_list_next_5000_v1 = []

# Open the file in read mode
with open('/content/drive/MyDrive/primes.txt', 'r') as file:
    # Use enumerate to get both line numbers and lines
    for i, line in enumerate(file):
        # Start appending after the first 15000 primes
        if i >= 15000:  # Skip the first 15000 lines
            elements_list_next_5000_v1.append(line.strip())

        # Break the loop
        if i == 19999:  # 14999 because enumeration starts at 0
            break

# Convert list items to integers
my_list3 = [int(item) for item in  elements_list_next_5000_v1]

In [9]:
# Check the length of the array
len(my_list3)

5000

In [10]:
# The largest prime of the  the first 20000 primes
my_list3[-1]

[163847, 163853, 163859, 163861, 163871]

#### Create the semi-prime lists

The product of first 10000 primes with itself

In [12]:
# Generate the product of first 10000 primes with themselves and then sort the products in ascending order
products_v1 = [a * b for a in my_list1 for b in my_list1]
results_v1 = list(dict.fromkeys(products_v1))
# sort the result
sorted_results_v1 = sorted(results_v1)

The product of next 5000 primes with itself

In [13]:
# Generate the product of next 10000 primes with themselves and then sort the products in ascending order
products_v2 = [a * b for a in my_list2 for b in my_list2]
next_results = list(dict.fromkeys(products_v2))
# sort the result
sorted_results_v2 = sorted(next_results)

The product of next 5000 primes with itself

In [14]:
# Generate the product of next 10000 primes with themselves and then sort the products in ascending order
products_v3 = [a * b for a in my_list3 for b in my_list3]
next_results = list(dict.fromkeys(products_v3))
# sort the result
sorted_results_v3 = sorted(next_results)

In [15]:
# The length of our data after multiplying 100000 prime numbers with themselves
len(sorted_results_v1)

50005000

In [16]:
# The length of our data after multiplying 50000 prime numbers with themselves
len(sorted_results_v2)

12502500

In [17]:
# The length of our data after multiplying 50000 prime numbers with themselves
len(sorted_results_v3)

12502500

In [19]:
# Check for what is the largest number of the products
max(sorted_results_v1)

10968163441

In [20]:
max(sorted_results_v2)

26843873281

In [21]:
max(sorted_results_v3)

50506719169

 Divide data into smaller chunks for faster computation

In [22]:
# This function is to divide the data of product of primes into equivalent chunks. Dividing dataset into smaller chunks helps our algorithm run faster
def divide_input(input_list):
    # The total length of the input list
    total_length = len(input_list)

    # The size of each chunk
    chunk_size = total_length // 10

    # List to hold all the chunks
    chunks = []

    for i in range(0, total_length, chunk_size):
        # Append chunks to the list
        chunks.append(input_list[i:i + chunk_size])

    return chunks

In [23]:
chunks_v1 = divide_input(sorted_results_v1)

In [24]:
len(chunks_v1)

10

In [25]:
chunks_v2 = divide_input(sorted_results_v2)

In [26]:
chunks_v3 = divide_input(sorted_results_v3)

### Numerical Computation part

Compute the semi primes tuples with gap 1 and gap 2, i.e (n, n+1) and (n, n+2) for n is semi-prime

In [27]:
def process_chunk_optimized(chunk1):
    chunk1_set = set(chunk1)  # Convert to set for efficient lookups

    # Initialize counters
    num_diff1 = 0
    num_diff2 = 0
    common_elements_diff1 = set()
    common_elements_diff2 = set()

    # Directly compute pairs with differences of 1 and 2
    for elem in chunk1:
        if (elem + 1) in chunk1_set:
            num_diff1 += 1
            common_elements_diff1.add((elem, elem + 1))
        if (elem + 2) in chunk1_set:
            num_diff2 += 1
            common_elements_diff2.add((elem, elem + 2))

    return num_diff1, num_diff2, common_elements_diff1, common_elements_diff2

In [28]:
# Compute the tuple with gap of 1 and gap of 2 for the product of first 10000 primes with itsefl
num_gap1_v1 = 0
num_gap2_v1 = 0
common_elements_gap1_v1= []
common_elements_gap2_v1 = []
for i in range(len(chunks_v1)):
    num_tuple_diff1_chunk1, num_tuple_diff2_chunk1, common_elements_diff11, common_elements_diff22 = process_chunk_optimized(chunks_v1[i])
    num_gap1_v1 += num_tuple_diff1_chunk1
    num_gap2_v1 += num_tuple_diff2_chunk1
    common_elements_gap1_v1 += common_elements_diff11
    common_elements_gap2_v1 += common_elements_diff22

In [29]:
# Number of tuples whose difference is 1 in the product of first 10000 primes
num_gap1_v1

5934

In [30]:
# Number of tuples whose difference is 2 in the product of first 10000 primes
num_gap2_v1

801321

In [68]:
# View the first few tuple with gap 1 in the product of first 10000 primes
sorted(common_elements_gap1_v1)[:20]

[(9, 10),
 (14, 15),
 (21, 22),
 (25, 26),
 (33, 34),
 (34, 35),
 (38, 39),
 (57, 58),
 (85, 86),
 (86, 87),
 (93, 94),
 (94, 95),
 (118, 119),
 (121, 122),
 (122, 123),
 (133, 134),
 (141, 142),
 (142, 143),
 (145, 146),
 (158, 159)]

In [69]:
# View the first few tuple with gap 2 in the product of first 10000 primes
sorted(common_elements_gap2_v1)[:20]

[(4, 6),
 (33, 35),
 (49, 51),
 (55, 57),
 (85, 87),
 (91, 93),
 (93, 95),
 (119, 121),
 (121, 123),
 (141, 143),
 (143, 145),
 (159, 161),
 (183, 185),
 (185, 187),
 (201, 203),
 (203, 205),
 (213, 215),
 (215, 217),
 (217, 219),
 (219, 221)]

In [33]:
# Compute the tuple with gap of 1 and gap of 2 for the product of next 5000 primes with itsefl
num_gap1_v2 = 0
num_gap2_v2 = 0
common_elements_gap1_v2= []
common_elements_gap2_v2 = []
for i in range(len(chunks_v2)):
    num_tuple_diff1_chunk1, num_tuple_diff2_chunk1, common_elements_diff11, common_elements_diff22 = process_chunk_optimized(chunks_v2[i])
    num_gap1_v2 += num_tuple_diff1_chunk1
    num_gap2_v2 += num_tuple_diff2_chunk1
    common_elements_gap1_v2 += common_elements_diff11
    common_elements_gap2_v2 += common_elements_diff22

In [34]:
# Number of tuples whose difference is 1 in the product of next 5000 primes
num_gap1_v2

0

In [35]:
# Number of tuples  whose difference is 2 in the product of next 5000 primes
num_gap2_v2

17338

In [67]:
# View the first few tuple with gap 2 in the product of next 5000 primes
sorted(common_elements_gap2_v2)[:20]

[(11092901927, 11092901929),
 (11287996661, 11287996663),
 (11388719759, 11388719761),
 (11414926511, 11414926513),
 (11434020929, 11434020931),
 (11488195487, 11488195489),
 (11489153579, 11489153581),
 (11499175481, 11499175483),
 (11499987311, 11499987313),
 (11525940269, 11525940271),
 (11528899397, 11528899399),
 (11539688471, 11539688473),
 (11557134929, 11557134931),
 (11574486617, 11574486619),
 (11583902177, 11583902179),
 (11622215027, 11622215029),
 (11624594699, 11624594701),
 (11642967407, 11642967409),
 (11654030021, 11654030023),
 (11661050081, 11661050083)]

In [39]:
# Compute the tuples with the gap of 1 and gap of 2 for the product of next more 5000 primes with itsefl

num_gap1_v3 = 0
num_gap2_v3 = 0
common_elements_gap1_v3= []
common_elements_gap2_v3 = []
for i in range(len(chunks_v3)):
    num_tuple_diff1_chunk1, num_tuple_diff2_chunk1, common_elements_diff11, common_elements_diff22 = process_chunk_optimized(chunks_v3[i])
    num_gap1_v3 += num_tuple_diff1_chunk1
    num_gap2_v3 += num_tuple_diff2_chunk1
    common_elements_gap1_v3 += common_elements_diff11
    common_elements_gap2_v3 += common_elements_diff22

In [40]:
print(num_gap1_v3)
print(num_gap2_v3)

0
11795

In [66]:
# View the first few tuple with gap 2 in the product of next 5000 primes
sorted(common_elements_gap2_v3)[:20]

[(27416057441, 27416057443),
 (27504802691, 27504802693),
 (27605779007, 27605779009),
 (27792735587, 27792735589),
 (27909624287, 27909624289),
 (27938485691, 27938485693),
 (27980374547, 27980374549),
 (28052266901, 28052266903),
 (28066766489, 28066766491),
 (28074628889, 28074628891),
 (28076952521, 28076952523),
 (28095657761, 28095657763),
 (28102659899, 28102659901),
 (28125758117, 28125758119),
 (28157363321, 28157363323),
 (28164654251, 28164654253),
 (28186517237, 28186517239),
 (28188773069, 28188773071),
 (28222233539, 28222233541),
 (28236910157, 28236910159)]

In [57]:
# Compute how many tuples in total with gap of 1 and 2 respectly in the product of 20000 primes with itself
sum_num_gap1 = num_gap1_v1 + num_gap1_v2 + num_gap1_v3
sum_num_gap2 = num_gap2_v1 + num_gap2_v2 + num_gap2_v3

There are 5934 tuples which has gap of 1

In [58]:
sum_num_gap1

5934

There are 830454 tuples which has gap of 2

In [59]:
sum_num_gap2

830454

Compute the semi primes tuples with gap 1-2 and gap 2-1, i.e (n, n+1, n+2) and (n, n+2, n+3) respectively where n is semi-prime

In [45]:
def process_chunk_v2(chunk):
    chunk = sorted(chunk)
    num_diff12 = num_diff21 = 0
    common_elements_diff12 = []
    common_elements_diff21 = []

    # Check triplets directly within chunk
    for i in range(len(chunk) - 2):
        # Extract current triplet
        current_triplet = (chunk[i], chunk[i + 1], chunk[i + 2])

        # Calculate differences between consecutive elements
        diff1 = chunk[i + 1] - chunk[i]
        diff2 = chunk[i + 2] - chunk[i + 1]

        # Check for pattern 1-2
        if diff1 == 1 and diff2 == 2:
            num_diff12 += 1
            common_elements_diff12.append(current_triplet)

        # Check for pattern 2-1
        elif diff1 == 2 and diff2 == 1:
            num_diff21 += 1
            common_elements_diff21.append(current_triplet)

    return num_diff12, num_diff21, common_elements_diff12, common_elements_diff21

In [46]:
# Compute the number of tuples with the gap of pattern 1-2 and number of gap of pattern 2-1 for the product of first 10000 primes with itsefl
num_gap12_v1= 0
num_gap21_v1 = 0
common_elements_gap12_v1 = []
common_elements_gap21_v1 = []

for i in range(len(chunks_v1)):
    num_diff1, num_diff2, common_elements_diff12, common_elements_diff21 = process_chunk_v2(chunks_v1[i])
    num_gap12_v1 += num_diff1
    num_gap21_v1 += num_diff2
    common_elements_gap12_v1 += common_elements_diff12
    common_elements_gap21_v1 += common_elements_diff21

In [47]:
# The number of the gap of pattern 1-2 in the product of first 10000 primes with itsefl
num_gap12_v1

1248

In [48]:
# The number of the gap of pattern 2-1 in the product of first 10000 primes with itsefl
num_gap21_v1

1277

In [64]:
# View the first few tuples with gap of pattern 1-2 in the the product of first 10000 primes with itsefl
sorted(common_elements_gap12_v1)[:20]

[(118, 119, 121),
 (142, 143, 145),
 (158, 159, 161),
 (202, 203, 205),
 (214, 215, 217),
 (218, 219, 221),
 (298, 299, 301),
 (302, 303, 305),
 (326, 327, 329),
 (514, 515, 517),
 (526, 527, 529),
 (542, 543, 545),
 (694, 695, 697),
 (778, 779, 781),
 (898, 899, 901),
 (958, 959, 961),
 (1138, 1139, 1141),
 (1202, 1203, 1205),
 (1346, 1347, 1349),
 (1354, 1355, 1357)]

In [65]:
# View the first few tuples with gap of pattern 2-1 in the the product of first 10000 primes with itsefl
sorted(common_elements_gap21_v1)[:20]

[(55, 57, 58),
 (91, 93, 94),
 (119, 121, 122),
 (143, 145, 146),
 (203, 205, 206),
 (215, 217, 218),
 (299, 301, 302),
 (391, 393, 394),
 (451, 453, 454),
 (535, 537, 538),
 (551, 553, 554),
 (695, 697, 698),
 (791, 793, 794),
 (815, 817, 818),
 (1079, 1081, 1082),
 (1135, 1137, 1138),
 (1139, 1141, 1142),
 (1315, 1317, 1318),
 (1343, 1345, 1346),
 (1415, 1417, 1418)]

In [51]:
# Compute the number of tuples with the gap of pattern 1-2 and number of gap of pattern 2-1 for the product of next 5000 primes with itsefl
num_gap12_v2= 0
num_gap21_v2 = 0
common_elements_gap12_v2 = []
common_elements_gap21_v2 = []

for i in range(len(chunks_v2)):
    num_diff1, num_diff2, common_elements_diff12, common_elements_diff21 = process_chunk_v2(chunks_v2[i])
    num_gap12_v2 += num_diff1
    num_gap21_v2 += num_diff2
    common_elements_gap12_v2 += common_elements_diff12
    common_elements_gap21_v2 += common_elements_diff21

In [ ]:
num_gap12_v2

0

In [ ]:
num_gap21_v2

0

In [52]:
# Compute the number of tuples with the gap of pattern 1-2 and number of gap of pattern 2-1 for the product of next 5000 primes with itsefl
num_gap12_v3= 0
num_gap21_v3 = 0
common_elements_gap12_v3 = []
common_elements_gap21_v3 = []

for i in range(len(chunks_v2)):
    num_diff1, num_diff2, common_elements_diff12, common_elements_diff21 = process_chunk_v2(chunks_v2[i])
    num_gap12_v3 += num_diff1
    num_gap21_v3 += num_diff2
    common_elements_gap12_v3 += common_elements_diff12
    common_elements_gap21_v3 += common_elements_diff21

In [53]:
num_gap12_v3

0

In [54]:
num_gap21_v3

0

In [60]:
#  Compute how many tuples in total with gap of 1-2 and 2-1 respectly in the product of 20000 primes with itself
sum_tuples_gap12 = num_gap12_v1 + num_gap12_v2 + num_gap12_v3
sum_tuples_gap21 = num_gap21_v1 + num_gap21_v2 + num_gap21_v3

In [61]:
sum_tuples_gap12

1248

In [62]:
sum_tuples_gap21

1277