<a href="https://colab.research.google.com/github/phuongnguyen99/Number_theory/blob/main/Nunber_Theory_Prime_completed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Data preprocessing

Extract first 10^6 primes in the prime.txt

In [2]:
# Import data by extracting 1000000 primes in dataset primes.txt
# Initialize an empty list to hold the elements
elements_list = []

# Open the file in read mode
with open('/content/drive/MyDrive/primes.txt', 'r') as file:
    # Use enumerate to get both line numbers and lines
    for i, line in enumerate(file):

        elements_list.append(line.strip())  # strip() removes any leading/trailing whitespace, including newlines
        # Break the loop
        if i == 999999:
            break

my_list1 = [int(item) for item in elements_list]

In [3]:
# The length of first 10000 primes array
len(my_list1)

1000000

In [4]:
# The largest prime of the first 1000000 primes
my_list1[-1]

15485863

## Computational part

Compute the primes triplest with gap 2-4 and gap 4-2, i.e (p, p+2, p+6) and (p, p+4, p+6) respectively where p is prime

In [5]:
def compute_prime_triplets(chunk):
    chunk = sorted(chunk)
    num_diff24 = num_diff42 = 0
    common_elements_diff24 = []
    common_elements_diff42 = []

    # Check triplets directly within chunk
    for i in range(len(chunk) - 2):
        # Extract current triplet
        current_triplet = (chunk[i], chunk[i + 1], chunk[i + 2])

        # Calculate differences between consecutive elements
        diff1 = chunk[i + 1] - chunk[i]
        diff2 = chunk[i + 2] - chunk[i + 1]

        # Check for pattern 2-4
        if diff1 == 2 and diff2 == 4:
            num_diff24 += 1
            common_elements_diff24.append(current_triplet)

        # Check for pattern 4-2
        elif diff1 == 4 and diff2 == 2:
            num_diff42 += 1
            common_elements_diff42.append(current_triplet)

    return num_diff24, num_diff42, common_elements_diff24, common_elements_diff42

## Numerical results

### For p <= 10^4

In [6]:
num_diff24_v1, num_diff42_v1, common_elements_diff24_v1, common_elements_diff42_v1 = compute_prime_triplets(my_list1[:10000])

#### The number of prime triplets (p, p+2, p+6) for p<=10^4

In [7]:
num_diff24_v1

266

In [8]:
sorted(common_elements_diff24_v1)[:10]

[(5, 7, 11),
 (11, 13, 17),
 (17, 19, 23),
 (41, 43, 47),
 (101, 103, 107),
 (107, 109, 113),
 (191, 193, 197),
 (227, 229, 233),
 (311, 313, 317),
 (347, 349, 353)]

The largst prime triplet (p,p+2,p+6) for p<=10^4

In [9]:
max(sorted(common_elements_diff24_v1))

(103991, 103993, 103997)

#### The number of prime triplets (p, p+4, p+6) for p<=10^4

In [10]:
num_diff42_v1

260

In [11]:
sorted(common_elements_diff42_v1)[:10]

[(7, 11, 13),
 (13, 17, 19),
 (37, 41, 43),
 (67, 71, 73),
 (97, 101, 103),
 (103, 107, 109),
 (193, 197, 199),
 (223, 227, 229),
 (277, 281, 283),
 (307, 311, 313)]

The largst prime triplet (p,p+4,p+6) for p<=10^4

In [12]:
max(sorted(common_elements_diff42_v1))

(104677, 104681, 104683)

#### For p<=10^5

In [13]:
num_diff24_v2, num_diff42_v2, common_elements_diff24_v2, common_elements_diff42_v2 = compute_prime_triplets(my_list1[:100000])

#### The number of prime triplets (p, p+2, p+6) for p<=10^5

In [14]:
num_diff24_v2

1706

In [15]:
sorted(common_elements_diff24_v2)[265:287]

[(103991, 103993, 103997),
 (105527, 105529, 105533),
 (106781, 106783, 106787),
 (107837, 107839, 107843),
 (108287, 108289, 108293),
 (108497, 108499, 108503),
 (108881, 108883, 108887),
 (109841, 109843, 109847),
 (110567, 110569, 110573),
 (110921, 110923, 110927),
 (111491, 111493, 111497),
 (111827, 111829, 111833),
 (112247, 112249, 112253),
 (112571, 112573, 112577),
 (113021, 113023, 113027),
 (113147, 113149, 113153),
 (113171, 113173, 113177),
 (113357, 113359, 113363),
 (113717, 113719, 113723),
 (113777, 113779, 113783),
 (114197, 114199, 114203),
 (115877, 115879, 115883)]

The largst prime triplet (p,p+2,p+6) for p<=10^5

In [16]:
max(sorted(common_elements_diff24_v2))

(1298111, 1298113, 1298117)

#### The number of prime triplets (p, p+4, p+6) for p<=10^5

In [17]:
num_diff42_v2

1777

In [18]:
sorted(common_elements_diff42_v2)[259:289]

[(104677, 104681, 104683),
 (106213, 106217, 106219),
 (106273, 106277, 106279),
 (106537, 106541, 106543),
 (106657, 106661, 106663),
 (106747, 106751, 106753),
 (106957, 106961, 106963),
 (107713, 107717, 107719),
 (108007, 108011, 108013),
 (108187, 108191, 108193),
 (108457, 108461, 108463),
 (108877, 108881, 108883),
 (108943, 108947, 108949),
 (109843, 109847, 109849),
 (110563, 110567, 110569),
 (110917, 110921, 110923),
 (111487, 111491, 111493),
 (113017, 113021, 113023),
 (113143, 113147, 113149),
 (113167, 113171, 113173),
 (114193, 114197, 114199),
 (115597, 115601, 115603),
 (115777, 115781, 115783),
 (115873, 115877, 115879),
 (116533, 116537, 116539),
 (116923, 116927, 116929),
 (117037, 117041, 117043),
 (117877, 117881, 117883),
 (117973, 117977, 117979),
 (118897, 118901, 118903)]

The largst prime triplet (p,p+4,p+6) for p<=10^5

In [19]:
max(sorted(common_elements_diff42_v2))

(1298113, 1298117, 1298119)

#### For p<=10^6

In [20]:
num_diff24_v3, num_diff42_v3, common_elements_diff24_v3, common_elements_diff42_v3 = compute_prime_triplets(my_list1)

#### The number of prime triplets (p, p+2, p+6) for p<=10^6

In [21]:
num_diff24_v3

12092

In [22]:
sorted(common_elements_diff24_v3)[1705:1726]

[(1298111, 1298113, 1298117),
 (1300127, 1300129, 1300133),
 (1301387, 1301389, 1301393),
 (1303787, 1303789, 1303793),
 (1304981, 1304983, 1304987),
 (1305587, 1305589, 1305593),
 (1306661, 1306663, 1306667),
 (1307081, 1307083, 1307087),
 (1310117, 1310119, 1310123),
 (1310627, 1310629, 1310633),
 (1311617, 1311619, 1311623),
 (1311767, 1311769, 1311773),
 (1312391, 1312393, 1312397),
 (1312667, 1312669, 1312673),
 (1313357, 1313359, 1313363),
 (1313447, 1313449, 1313453),
 (1318697, 1318699, 1318703),
 (1321757, 1321759, 1321763),
 (1322171, 1322173, 1322177),
 (1322327, 1322329, 1322333),
 (1322591, 1322593, 1322597)]

The largst prime triplet (p,p+2,p+6) for p<=10^6

In [23]:
max(sorted(common_elements_diff24_v3))

(15485537, 15485539, 15485543)

#### The number of prime triplets (p, p+4, p+6) for p<=10^6

In [24]:
num_diff42_v3

12300

In [25]:
sorted(common_elements_diff42_v3)[1776:1800]

[(1298113, 1298117, 1298119),
 (1300837, 1300841, 1300843),
 (1301017, 1301021, 1301023),
 (1303867, 1303871, 1303873),
 (1305247, 1305251, 1305253),
 (1306237, 1306241, 1306243),
 (1307077, 1307081, 1307083),
 (1308607, 1308611, 1308613),
 (1309123, 1309127, 1309129),
 (1309333, 1309337, 1309339),
 (1312183, 1312187, 1312189),
 (1313443, 1313447, 1313449),
 (1313953, 1313957, 1313959),
 (1317223, 1317227, 1317229),
 (1318897, 1318901, 1318903),
 (1319737, 1319741, 1319743),
 (1321753, 1321757, 1321759),
 (1322143, 1322147, 1322149),
 (1322173, 1322177, 1322179),
 (1322323, 1322327, 1322329),
 (1322593, 1322597, 1322599),
 (1322743, 1322747, 1322749),
 (1324567, 1324571, 1324573),
 (1324573, 1324577, 1324579)]

The largst prime triplet (p,p+4,p+6) for p<=10^6

In [26]:
max(sorted(common_elements_diff42_v3))

(15485287, 15485291, 15485293)